*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./background/background-img\ .png) ; 
    
    
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    
}

ul li {
    list-style: none;
    

}
a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
   
}


ul {
    display: flex;
    padding: 25px;
    justify-content: space-between;
}

.searchinput{
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 20px;
    height: 30px;
    background-color: rgb(218, 216, 216);
}

.search-wrapper{
    position: relative;
}

.searchicon{
    position: absolute;
    top: 16px;
    left: 12px;
}

.Billboard-container{
    max-width: 100%;
    height: 100vh;
    
}

.billboardimg{
    margin-left: 100px;
    width: 90%;
}


.container-boost{
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
}

.boost-wrapper{
    display: flex;
    justify-content: space-between;
}



.nav-wrapper{
    width: calc(100% - 70px - 193px);
}




.givingboost{
    position: relative;
    top: 50px;
}


.whiteboximg{
    position: absolute;
    top: 350px;
    left: 200px;
}

.frame{
    position: absolute;
    top: 410px;
    left: 270px;
}

.result{
    margin-top: 100px;
}

.result-wrapper p {
    font-size: 16px;
    max-width: 387px;font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.result-wrapper {
    display: flex;
    gap: 20px;
    padding: 20px;
}

h4 {
    margin-bottom: 50px;
    margin-left: 25px;
}
.container-slide{
    max-width: 1200px;
    height: 50vh;
    margin: 0 auto;
    text-align: center;
}


.slide{
    width: 100%;
    height: 300px;
}

.container-partners {
    max-width: 1200px;
    margin: 0 auto;
    height: 50vh;

}


.partners-wrapper{
    background-color: #C4C4C4;
    height: 160px;
  
}

.partners{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.partners-1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.video-container{
    max-width: 1200px;
    margin:  0 auto;
    height: 70vh;

}

.video-wrapper{
    width: 100%;
    background-color: #C4C4C4;
    height: 50vh;
}



.title-container{
    max-width: 1200px;
    height: 100vh;
   margin-top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.title-buttom{
    max-width: 371px;
    height: 51px;
    background-color: #C4C4C4;
    margin-top: 50px;
}


.text-article{
    max-width: 622px;
    text-align :justify
}

footer{
    width: 100%;
    background-color: rgba(1, 1, 1, 0.8);
    height: 35vh;
}

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
}

.footer-title{
    color: white;
    font-family: 'fjord';
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    
    
}

@font-face {
    font-family:'fjord';
    src: url(./fonts/FjordOne-Regular.ttf);
  }

.footer-wrapper{
    display: flex;
    
}

.footer-logo{
    margin-top: 40px;
}

.icon{
    display: flex;
    gap: 10px;
    line-height: 20px;
    color: white;
    align-items :center;
}

.icon img {
    padding: 10px;
}


.footer-vision{
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.footer-ph{
    max-width: 420px;
    color: white;
    font-size: 16px;
    margin-top: 10px;
}


.contact-wrapper{
    width: 450px;
    margin: 20px;
}

.footer-info{
    display: flex;
    margin:  0 auto;
    max-width: 932px;
    border-top: 1px solid rgba(217, 217, 217, 0.5);
    border-bottom: 1px solid rgba(217, 217, 217, 0.5);
    height: 15vh;
    justify-content: center;
}

.footer-text{
    margin-top: 20px;
}

.copyright p{
    color: white;
}

.copyright{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.icon-img{
    gap: 10px;
}

.icoon-wrapper{
    display: flex;
    max-width: 710px;
    justify-content: space-between;
    margin-top: 20px;
    
}

.icon-img{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}